<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/main.css" />
    <script type="module" src="main.js" defer></script>
    <title>Biograf Regna</title>
    <link rel="icon" type="image/png" href="/assets/logga.png" />
  </head>

  <body>
    <header id="header"></header>
    <img
      class="background__raining"
      src="assets\raining-background.jpg"
      alt="raining in the background"
    />
    <section>
      <div class="herobanner_container">
        <div class="herobanner_item fade">
          <img src="./assets/dr-who-movie.jpg" alt="Movie 1" />
        </div>
        <div class="herobanner_item fade">
          <img src="./assets/first-man-movie.jpg" alt="Movie 2" />
        </div>
        <div class="herobanner_item fade">
          <img src="./assets/joker-movie.jpeg" alt="Movie 3" />
        </div>
        <div class="herobanner_item fade">
          <img src="./assets/alien-movie.jpg" alt="Movie 4" />
        </div>
        <div class="herobanner_item fade">
          <img src="./assets/Pathaan-movie.jpg" alt="Movie 5" />
        </div>
        <div class="dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </section>
    <main></main>

    <section>Section</section>

    <footer id="footer"></footer>
  </body>
</html>