<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <title>Biograf Regna</title>
    <link rel="icon" type="image/png" href="/assets/logga.png" />
  </head>

  <body>
    <header id="header">
      {{>header}}
    </header>
    <img
      class="background__raining"
      src="/assets/raining-background.jpg"
      alt="raining in the background"
    />
    <main class="content">
      {{{body}}}
    </main>

    <footer id="footer">
      {{>footer}}
    </footer>
  </body>
</html>