<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/main.css" />
  </head>
  <body>
    <header class="header">
      <h1>Filmer</h1>
    </header>
    <main class="content">
      {{{body}}}
    </main>
  </body>
</html>