.content {
  ul {
    padding: 0;
  }
  li {
    position: relative;
    margin: 15px;
    text-align: center;
    a {
      font-size: 2.2rem;
      color: $lightgrey;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
      &:hover {
        color: $lightgreen;
      }
    }
  }
}
.movie {
  a {
    font-size: 1.6rem;
    color: $lightgrey;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7), 1px 1px 3px rgba(0, 0, 0, 0.7);
    padding-bottom: 30px;
  }
  h1 {
    margin: 30px 10px;
    font-size: 4rem;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
  }
  img {
    width: 50vw;
  }
  .intro {
    font-size: 1.3rem;
    color: $white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7), 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin: 0 auto 10px;
    max-width: 40vw;
    text-align: center;
  }
}
