*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 10px;
  list-style-type: none;
  text-decoration: none;
}

#footer {
  background-color: pink;
  position: bottom;
  bottom: 0;
  width: 100%;
  padding: 1em 2em;
}
#footer h2 {
  font-size: 2.4em;
}
#footer p {
  font-size: 1.4em;
}
#footer .footer_social_icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
}
#footer .footer_social_icons img {
  width: 40px;
  height: auto;
  margin-right: 30px;
}
#footer .footer_social_icons img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

#header {
  background-color: pink;
}
#header nav {
  background-color: rgb(170, 37, 99);
}
#header li {
  width: fit-content;
  color: rgb(190, 157, 157);
}
#header ul {
  display: flex;
  justify-content: space-around;
}

#faqBtn {
  font-size: 2.5em;
  color: #222222;
  background-color: #B1BDB2;
  margin-left: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  bottom: 120px;
  left: 90%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.herobanner_item {
  display: none;
}

.herobanner_container {
  max-width: 50%;
  position: relative;
  margin: auto;
}
.herobanner_container img {
  width: 100%;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

.dot:hover {
  background-color: #B1BDB2;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #F4F3EE;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
