*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 10px;
  list-style-type: none;
  text-decoration: none;
}

#footer {
  background-color: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 2em;
}
#footer h2 {
  font-size: 2.4em;
}
#footer p {
  font-size: 1.4em;
}
#footer .footer_social_icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
}
#footer .footer_social_icons img {
  width: 40px;
  height: auto;
  margin-right: 30px;
}
#footer .footer_social_icons img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  text-shadow: 100px;
}

#header {
  background-color: pink;
}
#header nav {
  background-color: rgb(170, 37, 99);
}
#header li {
  width: fit-content;
  color: rgb(190, 157, 157);
}
#header ul {
  display: flex;
  justify-content: space-around;
}
