.herobanner_item {
    display: none;
}

.herobanner_container {
    max-width: 50%;
    position: relative;
    margin: auto;

    img {
        width: 100%;
    }
  }
  
.dots {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
  
}  

.dot:hover {
    background-color: #B1BDB2;
}

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #F4F3EE;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }