<h1>Välkommen till Biograf Regna!</h1>
<script type='module' src='/static/main.js' defer></script>

<div class='herobanner_container'>
  <div class='herobanner_item fade'>
    <img src='/static/assets/dr-who-movie.jpg' alt='Movie 1' />
  </div>
  <div class='herobanner_item fade'>
    <img src='/static/assets/first-man-movie.jpg' alt='Movie 2' />
  </div>
  <div class='herobanner_item fade'>
    <img src='/static/assets/joker-movie.jpeg' alt='Movie 3' />
  </div>
  <div class='herobanner_item fade'>
    <img src='/static/assets/alien-movie.jpg' alt='Movie 4' />
  </div>
  <div class='herobanner_item fade'>
    <img src='/static/assets/Pathaan-movie.jpg' alt='Movie 5' />
  </div>
  <div class='dots'>
    <span class='dot'></span>
    <span class='dot'></span>
    <span class='dot'></span>
    <span class='dot'></span>
    <span class='dot'></span>
  </div>
</div>